.visivel {
  width: 40vw;
  background-color: rgba(0,0,0,0.8);
  color: white;
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 30px;
}

.caixaInput {
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-bottom: 30px;

  textArea {
    height: 100px;
  }
}

.botoes {
  display: flex;
  gap: 10px;
  button {
    background-color: #e1d6e4cc;
    color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 10px;
    flex-grow: 1;
    font-size: 1.5em;
    cursor: pointer;  
  }
}
.comentario {
  width: 100%;
  height: 200px;
}