.pagina {
  background: black;
}
.parteSuperior {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
}
.grupoPesquisa {
  display: flex;
  height: 85%;
}
.barraDePesquisa {
  border-radius: 20px 0px 0px 20px;
  border: 0px solid transparent;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 99%, #e1d6e4cc);
  padding: 10px;
  font-size: 1.5em;
  flex-grow: 1;
  outline: none;
}
.botaoDePesquisa {
  background-color: #e1d6e4cc;
  color: #f0f0f0;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 1.5em;
  cursor: pointer;
}
.iconeAvatar {
  background: purple;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid white;
}
.mapa {
  height: 90vh;
  width: 100vw;
  background: gray;
}
.atracao {
  
}

